ul {
  list-style-type: none;
  padding: 0;
}

.text-center {
	text-align: center;
}

.margin-top {
	margin-top: 50px;
}

.text-danger {
	color: #f44336;
}

.text-success {
	color: #4CAF50;
}

.text-primary {
	color: #2196F3;
}

.pointer {
	cursor: pointer;
}