ul {
  list-style-type: none;
  padding: 0;
}

.text-center {
	text-align: center;
}

.margin-top {
	margin-top: 50px;
}

.text-danger {
	color: #f44336;
}

.text-success {
	color: #4CAF50;
}

.text-primary {
	color: #2196F3;
}

.text {
	margin-right: 5px;
}

.pointer {
	cursor: pointer;
}

.task-text {
	float: left;
    width: 90%;
}

.task-checkbox {
	float: left;
	margin-right: 5px;
	height: 100%
}

button {
	padding: 0px 0px;
}

li {
	float: left;
	width: 100%;
}